<html>
<body>
<img src="http://assets.kingletas.com/wp-content/uploads/2013/04/Question-People.jpg" alt="question image image" height="500" width="500" >
<h4>Available Question list:</h4>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{%  url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    <h3><a href = "{% url 'polls:question' %}"> Add more question</a></h3>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>
