<html>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<h5><a href = "http://127.0.0.1:8000/polls/question/example"></a>example</h5>


</body>
</html>